body {
 	background: #F1F2B5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F1F2B5, #135058);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F1F2B5, #135058);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Raleway', sans-serif;
}

.box {
    margin-bottom: 0.6em;
	background: white;
}

.box:hover{
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
	border-left: 5px solid rgb(233, 235, 164);
}
.searchBox-margin{
	margin-top: 4em;
	margin-bottom: 3em;
	padding: 0;
}	

.searchBox-vertical-center {
    height: 100%;
    height: 100vh;

      /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.randomArticle{
	padding-top: 1em;
}

